<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <script src="/javascripts/phone.js"></script>
    <style>
    	.content{
    		height: 100%;
    	}
    	.topup_box{
    		position: relative;
    		height: 100%;
    		width: 100%;
    		background: #FFFFFF;	
    		display: flex;
    		align-items: center;
    	}
    	.status_box{
    		width: 100%;
    		text-align: center;
    	}
    	.status_box img{
    		width: 160px;
    		height: 160px;
    	}
    	.status_box p{
    		margin-top: 41px;
    		font-size: 42px;
    		color: #3E8CF9;
    	}
    	.status_btn{
    		position: absolute;
    		bottom: 90px;
    		left: 225px;
    		width: 300px;
    		height: 90px;
    		line-height: 90px;
    		text-align: center;
    		background: #3E8CF9;
    		border-radius: 6px;
    		font-size: 34px;
    		color: #FFFFFF;
    	}
    </style>
</head>
<body>
    <div id="app">
        <div class="page">
            <div class="wrapper">
                <main class="content">
                    <div class="topup_box">
                    	<div class="status_box">
                    		<img src="/images/success.png" />
                    		<p>充值成功!</p>
                    	</div>
                    	<div class="status_btn">返回</div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>
</html>