<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <style>
        a,
        abbr,
        acronym,
        address,
        applet,
        article,
        aside,
        audio,
        b,
        big,
        blockquote,
        body,
        canvas,
        caption,
        center,
        cite,
        code,
        dd,
        del,
        details,
        dfn,
        div,
        dl,
        dt,
        em,
        embed,
        fieldset,
        figcaption,
        figure,
        footer,
        form,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        header,
        html,
        i,
        iframe,
        img,
        input,
        ins,
        kbd,
        label,
        legend,
        li,
        mark,
        menu,
        nav,
        object,
        ol,
        output,
        p,
        pre,
        q,
        ruby,
        s,
        samp,
        section,
        small,
        span,
        strike,
        strong,
        sub,
        summary,
        sup,
        table,
        tbody,
        td,
        tfoot,
        th,
        thead,
        time,
        tr,
        tt,
        u,
        ul,
        var,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font-weight: 400;
            vertical-align: baseline;
        }

        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        menu,
        nav,
        section {
            display: block;
        }

        body,
        html {
            line-height: 1;
            font-family: PingFang SC, STHeitiSC-Light, Helvetica-Light, arial,
                sans-serif;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
        }

        #app,
        body,
        html {
            height: 100%;
        }

        body {
            background-color: #fff;
            overflow: hidden;
        }

        .page {
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #f7f6f9;
        }

        .page .header {
            position: relative;
            height: 100px;
            line-height: 100px;
            text-align: center;
            background-color: #fff;
            box-shadow: 0px 1px 0px 0px #f5f7f9;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            z-index: 5;
        }

        .page .header h1 {
            font-size: 32px;
            font-weight: 700;
        }

        .page .header .page-back {
            display: inline-block;
            top: 24px;
            left: 20px;
            position: absolute;
            width: 16px;
            height: 32px;
            text-align: center;
            padding: 10px 20px;
        }

        .page .header .page-back::before {
            content: "";
            width: 16px;
            height: 32px;
            background: url(/images/back.png) no-repeat center;
            display: inline-block;
            text-align: center;
            position: absolute;
            top: 10px;
            left: 20px;
        }

        .page>.wrapper {
            height: calc(100% - 100px);
            overflow-x: hidden;
            overflow-y: auto;
        }

        .tab-list {
            display: flex;
            justify-content: center;
            height: 88px;
            background: #fff;
        }

        .tab-list .item {
            flex: 1;
            height: 100%;
            font-size: 32px;
            color: #797a7a;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }

        .scroll-list {
            padding-top: 10px;
            font-size: 34px;
        }

        .scroll-list .item {
            background: #fff;
            height: 120px;
            border-bottom: 1px solid #f5f7f9;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 30px;
        }

        .scroll-list .item .item-l {}
    </style>
    <script src="/javascripts/phone.js"></script>
</head>

<body>
    <div id="app">
        <div class="page">
            <header class="header">
                <h1>选择社区</h1>
                <i class="page-back"></i>
            </header>
            <div class="wrapper">
                <main class="content">
                    <div class="tab-list">
                        <div class="item" @click="changeTab(0)">待开通</div>
                        <div class="item" @click="changeTab(1)">审核中</div>
                        <div class="item" @click="changeTab(2)">已开通</div>
                    </div>
                    <div class="scroll-list">
                        <% information.data.forEach(function(item,index) {%>
                        <div class="item">
                            <div class="item-l">
                                <div class="name"><%= item.organizationName %></div>
                                <%if(item.organizationStatus == 2){%>
                                <div class="desc">申请失败</div>
                                <%}%>
                </div>
                <div class="item-r">
                  <%if(item.organizationStatus == 1){%>
                                <div @click="applyFor">立即申请</div>
                                <%}else{%>
                                <div>查看详情</div>
                                <%}%>
                </div>
              </div>
              <%})%>
                                <div class="item" v-for="(item, index) in list">
                                    <div class="item-l">
                                        <div class="name">{{ item.organizationName }}</div>
                                        <!-- <div class="type">{{item.organizationName}}</div> -->
                                    </div>
                                    <div class="item-r">
                                        <div v-if="item.organizationStatus == 1" @click="applyFor">
                                            立即申请
                                        </div>
                                        <div v-if="item.organizationStatus == 2">查看详情</div>
                                    </div>
                                </div>
                            </div>
                </main>
            </div>
        </div>
    </div>
    <script src="/javascripts/vue.min.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data() {
                return {
                    information: `<%- information %>`,
                    list: [],
                    index: 0
                };
            },
            created() {
                this.list = JSON.parse(`<%- information %>`).data;
            },
            methods: {
                applyFor() {
                    window.location.href = "/applyShop/regform";
                },
                changeTab(e) {
                    console.log(e);
                },
                uploadImg(obj) {
                    const that = this;

                    GetFormParams({ uploadType: "DDemand" })
                        .then(res => {
                            this.fileList.signature = res.signature;

                            this.fileList.policy = res.policy;

                            this.fileList.file = obj.file;

                            const param = new FormData(); // 创建form对象

                            param.append("file", obj.file);

                            param.append("policy", res.policy);

                            param.append("signature", res.signature);

                            const config = {
                                headers: { "Content-Type": "multipart/form-data" }
                            }; // 添加请求头

                            axios
                                .post(obj.action, param, config) // 上传图片

                                .then(function (response) {
                                    console.log(
                                        "又拍云结果",
                                        response,
                                        res.ImageZone + response.data.url
                                    );

                                    const obj = {
                                        ImageWidth: 0,

                                        ImageHeigh: 0
                                    };

                                    obj.ImageUrl = res.ImageZone + response.data.url;
                                })

                                .catch(function (error) {
                                    console.log(error);
                                });
                        })
                        .catch(e => {
                            console.log("e", e);
                        });
                }
            }
        });
    </script>
</body>

</html>