<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <style>
        *{
            padding:0;
            margin:0;
        }
        html,body{
            font-family: STHeiti,Microsoft YaHei,Helvetica,Arial,sans-serif;
        }
        body{
            padding:14px;
            line-height: 0.4rem;
            color:#333;
            font-size: 0.26rem;
            letter-spacing: 0.5px;
            width: 100%;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        h2{
            font-size: 0.35rem;
            text-align: center;
            height:0.8rem;
            line-height:0.8rem;
        }
        p{	
            font-size: 0.28rem;
            font-weight: bold;
            height: 0.6rem;
            line-height: 0.6rem;
        }
    </style>
</head>
<body>
    <h2>社群负责人条款</h2>
    <div>
        欢迎使用群脉手机应用、微信公众号与微信小程序“群脉”及相应网站等群脉相关产品提供的各项服务。我们的服务由及其关联方（下称“群脉”或“我们”）基于本用户协议而提供。请仔细阅读。我们向您（或称“用户”）提供的服务还需要您遵守其他条款及服务准则（包括但不限于群脉平台规则、服务说明及使用帮助等，简称“其他规则”），您应同时阅读了解并予以一并接受。
        <br><br>1.您同意本规则的方式包括但不限于：
        <br>1）通过在本软件中点击表示同意的相应按钮；
        <br>2）通过电子邮件、电话、传真、即时通信等方式所作的口头或书面表示；
        <br>3）成为社群超级管理员，使用社群超级管理员的相应软件功能或服务；
        <br>4）其他您与我们均认可的方式。
        <br>1.1本规则将构成您与青岛米大卫数据科技有限公司以及与本软件及本服务开发、运营的关联方（以下合称“我们”）之间直接有约束力的法律文件。我们有权在必要时修改本规则条款。您可以在本软件的最新版本中查阅相关协议条款。如本协议与本软件或本服务的实际功能设定有冲突的，以实际功能设定为准。
        <br><br>2.建立社群
        <br>2.1用户可以通过本软件建立特定主题的社群，以社群的社群超级管理员身份，与加入相关社群的其他用户（以下称“成员”）分享内容信息、互动交流、社群活动（以下统称“活动”）。
        <br>2.2社群超级管理员可以自行决定社群的主题、分享的内容和互动交流、社群活动的形式。社群超级管理员可以自行设定社群的准入条件，并自行审核决定接受相关用户成为社群的成员。
        2.3社群超级管理员可以在本软件支持的格式和范围内为社群起名并使用图案标识，但需要经过我们的审核方可通过。我们有权要求您提供相关书面材料以证实社群名称的合规性。具有以下情形的社群名称或图案标识，无论是否通过了审核，我们均有权要求您修改：
        <br>1）含有国家名称、中外地名、行政司法机构名称、标识等，容易使用户误认为该社群由该等官方机构创建或与该等官方机构有关联的；
        2）含有相关领域名人姓名或姓名的一部分，或相关领域知名机构名称或名称的一部分，容易使用户误认为该社群由该等名人或机构创建或与该等名人或机构有关联的；
        <br>3）含有违反公序良俗和普通道德观念、民族歧视、种族歧视、仇恨、淫秽信息的语言或其他令人反感的文字、图案的；
        4）具有夸大宣传或引人误解的情形的；
        <br>5）存在侵犯商标权、著作权、姓名权、商号的权利或不正当竞争等情形的；
        <br>6）个人社群超级管理员创立的社群，但名称包含“公司/集团”或其他字样，误导用户认为该社群实为企业社群超级管理员创立或受到企业控制的社群的；
        <br>7）与已经存在的社群名称存在重合的；
        <br>8）其他违反法规、规章、政策、监管机关指令或侵犯第三方合法权益以及可能扰乱本服务运营的情形的。
        <br><br>3.社群超级管理员资格
        <br>3.1社群超级管理员承诺，若其为机构则是依照中国法律成立的并有效存续，具有完全法人资格和能力，若其为个人则是一名具有完全民事行为能力的自然人。
        <br>3.2社群超级管理员应当确保其具有开展相关活动的资质，并应按照我们的要求在首次创建社群时向我们提供身份信息和联系方式，以完成社群超级管理员真实身份审核和登记。需提供的审核登记资料至少包括：
        <br>1）身份证正反面的复印件（机构申请社群超级管理员应提供机构的营业执照、登记证等证件以及授权个人运营社群的授权书、该个人的身份证正反面的复印件）；
        <br>2）邮箱地址；
        <br>3）邮寄送达地址；
        <br>4）手机号码；
        <br>3.3社群超级管理员应确保其向我们提交的身份信息和联系方式在本服务有效期内真实、准确、有效和完整，如有任何变更，社群超级管理员应在相关变更发生后5日内在本软件系统内修改。
        <br>3.4社群超级管理员提供身份信息和联系方式资料后，由我们作出是否通过资格审核的判断。我们对社群超级管理员身份的审核行为并不能免除社群超级管理员应对自身信息、资质及活动质量等向成员承担的责任，若社群超级管理员提供的身份信息或联系方式存在不实、虚假、伪造、过期、不完整或其他方面瑕疵的，则社群超级管理员应全额赔偿我们及其他用户因此遭受的全部损失，且我们有权立即终止提供服务，并有权依据本规则及其他服务规则对社群超级管理员进行处罚。
        <br>3.5社群超级管理员同意在所创建的社群的指定位置公开社群超级管理员所持有的最新营业执照、登记证等证件的相关信息电子链接标识（如社群超级管理员为机构）或个人身份信息真实合法的表示（如社群超级管理员为个人），同时标明社群超级管理员的有效联系方式。社群超级管理员理解并同意，我们有权依据您填写和提交的审核材料，在法律允许的范围内向成员或其他用户展示您的审核资料。
        <br><br>4.社群的活动
        <br>4.1社群超级管理员可以自行决定社群内活动的内容，但应当保证有资质从事该等活动，并有能力履行承诺的所有义务，其履行义务的行为不违反任何对其有约束力的法律文件的限制。社群超级管理员应当完全履行其对其他用户做出的承诺，包括招揽成员时对尚未成为成员的其他用户的承诺，以及针对进入社群后的成员做出的所有承诺，如因社群超级管理员未能履行该等承诺而受到追诉的，社群超级管理员应当自行承担所有责任，“群脉”不承担任何赔偿或违约责任。
        <br>4.2我们提倡社群超级管理员制定详细的社群的活动规则，尤其是退社群和退费的规则。如社群超级管理员未制定退社群、退费的规则，或制定的规则不明确，我们有权直接按照《“群脉”用户协议》及其他本服务的规则处理成员的退社群和退费要求。
        <br>4.3除《用户协议》规定的禁止发布的内容之外，社群的活动中亦不得存在以下行为：
        <br>1）利用社群从事多级分销、集资、洗钱、赌博、募捐或抽奖等行为；
        <br>2）强制、诱导、雇佣其他用户关注社群、提问、打赏、点赞、点击链接页面或分享信息的内容；
        <br>3）频繁发布重复的内容，利用包括但不限于特殊文字、符号等恶意刷屏的内容；
        <br>4）任何“垃圾邮件”形式的内容，包括但不限于广告、任何其他网站和活动的推广信息以及一些指向其他网站的链接以及加盟代码等；
        5）恶意不履行/不完全履行与社群内成员达成的服务约定或提供虚假服务内容以骗取资金的；
        <br>6）冒充我们的工作人员或他人名义向社群内成员或其他用户提供服务的；
        <br>7）其他违反法律法规的规定，侵犯我们、其他用户或第三方合法权益或扰乱本服务运营的。
        <br>4.4未经我们及社群内成员事先书面同意，社群超级管理员不得将社群超级管理员与社群内成员之间达成的服务协议项下的任何权利或义务全部或部分转让、分包或委托给任何第三方。
        <br>4.5社群超级管理员在向成员提供服务过程中，应充分尊重并尽最大努力保护成员的财产权、人身权及其他合法权益。因社群超级管理员原因导致成员财产损失、个人信息隐私泄露的，社群超级管理员应独立承担由此给成员造成的损失，我们不承担任何赔偿或违约责任。
        <br>4.6社群超级管理员作为社群的创建者及运营方，应当对社群成员的行为承担监管责任，及时采取删除、禁言等手段，保证社群内发布的内容、活动等符合包括本规则在内的所有本服务规则。社群超级管理员可以指定特定的社群成员作为管理员，根据本服务设定的“管理员”的功能，承担社群的部分监管职责，社群超级管理员对其指定的管理员实施管理的行为承担全部责任。同时，我们有权根据社群的运营情况，派驻社群的管理员进入社群对社群内活动进行监管，但我们的监管并不免除社群超级管理员的监管责任。
        <br>4.7社群超级管理员也可以制定社群范围内适用的活动规则，但我们有权对违反包括本规则在内的所有本服务规则的活动规则提出修改要求。
        <br>4.8您理解并同意，除非您特别声明，否则关于您使用本服务发布的任何内容，我们均将自动获得非独家的信息网络传播权、出版发行权、汇编权、翻译权、改编权等相应权利的许可，以保证我们可以对该等内容进行商业性使用。
        <br>4.9您理解并同意，如您建立的社群需要付费加入，您所承诺的构成付费对象的内容，不得在“群脉”以外的平台发布。
        <br>4.10我们有权根据以下原则，通过包括但不限于成员满意度调查或抽查等方式对社群超级管理员遵守本规则及履行承诺的情况做出评估，作为我们调处员发起的对社群超级管理员的投诉或退款、退社群要求的依据之一：
        <br>1）对本服务的各项规则的遵守程度；
        <br>2）分享原创内容的数量，以及与非原创内容的比例；
        <br>3）分享最新信息的及时性、真实性、有效性；
        <br>4）社群内交流的频率、活跃度；
        <br>5）各类线上、线下活动的频率、次数、参与度；
        <br>6）其他反映内容、信息、活动质量的指标。
        <br>4.11我们有权根据社群的性质类别、成员规模、活跃程度实行分级分类管理，设定不同的功能和社群内各种身份（如社群超级管理员、管理员、普通用户）的用户权限。并且，我们有权根据法律、法规、政策的变化及口头或书面的行政指导随时调整该等功能和权限。
        <br><br>5.费用及结算
        <br>5.1社群超级管理员收入即成员入社群费用扣除我们的管理费后的金额。社群超级管理员同意委托我们作为代理人通过我们合作的第三方支付机构（“第三方支付机构”）代为收取社群超级管理员的收入。根据相关法律法规需要代扣代缴个人所得税的，我们将根据该等法律法规的要求代为扣缴。
        <br>5.2成员发起退款申请或社群超级管理员主动移除成员，符合《用户协议》或本服务其他规则的退款条件的，社群超级管理员应向退社群用户退还入社群费用。社群超级管理员未向用户退款的，社群超级管理员授权我们将代为收取的入社群费用直接划拨至退社群用户账户。社群超级管理员的账户余额不足的，应当另行负责退足。
        <br>5.3我们有权根据社群超级管理员在本服务的账户中的余额状况和信用状况设定并调整社群超级管理员的提现额度，社群超级管理员提现后的余额将作为社群超级管理员遵守本规则及履行其承诺的义务的保证金，我们有权根据社群运营情况设定保证金最低金额。社群超级管理员也可以选择另行向我们缴纳一定金额的保证金。从社群超级管理员收入中留存的保证金或社群超级管理员另行向我们支付的保证金超过了最低保证金金额后，我们将会以特别标识向用户提示。
        <br>5.4若社群超级管理员与成员达成的服务协议过程中发生任何违约行为，且成员向我们提出索赔申请的，经我们调处或成员与社群超级管理员通过协商或提请争议解决机构等途径达成一致认定确为社群超级管理员责任的，保证金将被予以扣除并赔付给成员。若保证金不足以赔偿成员所有损失的，则社群超级管理员应自行承担全部赔偿责任。
        <br><br>6.违约责任
        <br>6.1若社群超级管理员违反本规则或其他我们公布及更新的服务规则，我们有权自主判断社群超级管理员的违规程度对违规的社群超级管理员及相应社群进行处罚，具体处罚措施包括但不限于：社群不能被搜索、社群到期不能续开、封禁社群内的全部活动及功能、强制解散社群、注销社群超级管理员账号等，我们并有权公告处理结果。
        <br>6.2若因社群超级管理员违反本规则或与成员达成的服务协议而导致的我们的任何损失，社群超级管理员应全部负责赔偿，我们有权选择扣除保证金或我们认可的其他形式的保证金或直接索赔的方式要求社群超级管理员承担违约责任。
        <br><br>7.服务终止
        <br>7.1除社群超级管理员与我们另有约定外，在下述情况下，我们可在通知社群超级管理员后立即终止本服务并将社群超级管理员所创建的社群封禁并注销社群超级管理员账号而无须承担违约责任，如因此造成我们或成员损失的（包括但不限于财产及声誉损失），社群超级管理员应予以赔偿：
        <br>1）社群超级管理员未按我们要求提供或更新相应审核资料和信息的；
        <br>2）违反本规则对社群活动的要求，或没有对成员的活动尽到监管责任的；
        <br>3）社群超级管理员违约导致其缴纳的保证金和/或我们接受的其他形式的保证金被扣除且累计达到三次以上的；
        <br>4）社群超级管理员所提供的活动水平低下累计遭到成员投诉达三次以上的；
        <br>5）社群超级管理员在向成员提供服务过程中，因社群超级管理员原因导致成员财产损失及隐私泄漏的；
        <br>6）其他违反本规则或导致成员和我们权益受到损害的情形。
        <br>7.2我们服务的提前终止不影响此前社群超级管理员与我们因履行本规则而已经享有的权利和/或承担的义务，该等权利和义务包括但不限于违约方因其违约行为应承担的违约责任。
        <br><br>8.其他
        <br>8.1本规则是《用户协议》的一部分，本规则与《用户协议》不一致的，以本规则为准；本规则没有规定的，按照《用户协议》执行。
        <br>8.2本协议其他条款未明示授权的其他一切权利仍由我们保留，您在行使这些权利时须另外取得我们的书面许可。我们如果未行使前述任何权利，并不构成对该权利的放弃。
    </div>
</body>
</html>